* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --azul-dark: #041832;
  --azul-medio: #144480;
  --baby-blue: #DBE4EF;
  --cinza-claro: #EDF0F4;
  --cinza-medio: #8F8F8F;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

header {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 60px 170px 60px 170px;
  background: var(--azul-dark);
}

header .logo {
  display: flex;
  flex-direction: column;
  gap: 20px
}

header .logo img {
  width: 170px;
  height: 80px;
}

header .logo h1 {
  color: var(--baby-blue);
  font-family: "Poppins", sans-serif;
  align-self: center;
  font-size: 30px;
  font-weight: 300;
}

header .logo h1 strong {
  font-weight: 800;
}

header img {
  width: 404px;
  height: 278px;
}
/* 
main {
  padding-top: 120px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  min-height: 280vh;
}

main .overlay {
  position: absolute;
  background-image: url('assets/Background.png');
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: -1;
} */