section header {
    border-top: 1px solid var(--stroke-color);
    padding-block: 12px 24px;
    font: var(--text-span);

    a {
        justify-self: end;
        align-items: center;
        gap: 8px;

        span {
            background-image: url(../assets/icons/ArrowRight.svg);
            width: 16px;
            height: 16px;
        }

        &:hover:span { /*efeito passando o mouse*/
            background-image: url(../assets/icons/ArrowRightHover.svg);
        }
    }
}

#featured {
    grid-area: featured;
    img {
        height: 100%;
        object-fit: cover;
        border-radius: 4px;
    }

    .card {
        border-radius: 4px; /*// Arredonda cantos da caixa em 4px*/
        overflow: hidden; /*// Corta conteúdo que vaza (importante pro border-radius na img filha)*/
        position: relative; /*// Permite posicionar ::before em relação à .card*/

        /*:: significa alteração na parte virtual ou visual da coisa*/

        &::before { /*// Pseudo-elemento: cria "camada invisível" sobre a .card*/
            content: ""; /*// Obrigatório pra ::before aparecer (string vazia OK)*/
            position: absolute; /*// Posiciona sobre a .card*/
            inset: 0; /*// = top:0; right:0; bottom:0; left:0 → cobre 100% da .card*/
            top: 50%; /*faz o espaço do inset:0 ir para 50%*/
            background: linear-gradient( /*// Gradiente transparente (topo) → preto (baixo): efeito "escurece fundo da img"*/
                180deg, /**/
                transparent 0%, /**/
                #020617 100% /**/
            );
        }
        figcaption {
            position: absolute;
            bottom: 0;
            padding: 24px;

            /*: normalmente usado para condição ou estado de algo como por exemplo ver se o a tag possui a classe informada para depois alterala, um if else basicamente*/

            &:has(.text-lg) {/* procura saber se a classe que esta imposta no parenteses existe e se existir aplica essa alteração para a classe em especifico*/
                padding: 12px;
            }

            h2 {
                margin-top: 8px;
            }
        }
    }

}

#weekly {
    grid-area: weekly;

     &>div {
        grid-template-columns: repeat(4, 292px); /*adapata as imagens para as 4 se encaixarem de forma correta*/
     }

    img {
        height: 160px; /*Define a altura da imagem para os pixels definidos fiote*/
    }

    figure {
        position: relative;

        .content-tag {
            position: absolute;
            top: 8px;
            left: 8px;
        }

        p {
            margin-top: 8px;
            font-weight: 800;
        }
    }
}

#ai {
    grid-area: ai;

    img{
        width: 176px;
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    h3 {
        margin-block: 8px 4px;

    }
}

aside {
    grid-area: aside;
}

#more {
    margin-top: 32px;

    h3 {
        margin-top: 8px;
    }

    img {
        width: 72px;
        aspect-ratio: 1/1;
        object-fit: cover;
    }
}