#featured {
    img {
        height: 100%;
        object-fit: cover;
        border-radius: 4px;
    }

    .card {
        border-radius: 4px; /*// Arredonda cantos da caixa em 4px*/
        overflow: hidden; /*// Corta conteúdo que vaza (importante pro border-radius na img filha)*/
        position: relative; /*// Permite posicionar ::before em relação à .card*/

        /*:: significa alteração na parte virtual ou visual da coisa*/

        &::before { /*// Pseudo-elemento: cria "camada invisível" sobre a .card*/
            content: ""; /*// Obrigatório pra ::before aparecer (string vazia OK)*/
            position: absolute; /*// Posiciona sobre a .card*/
            inset: 0; /*// = top:0; right:0; bottom:0; left:0 → cobre 100% da .card*/
            top: 50%; /*faz o espaço do inset:0 ir para 50%*/
            background: linear-gradient( /*// Gradiente transparente (topo) → preto (baixo): efeito "escurece fundo da img"*/
                180deg, /**/
                transparent 0%, /**/
                #020617 100% /**/
            );
        }
        figcaption {
            position: absolute;
            bottom: 0;
            padding: 24px;

            /*: normalmente usado para condição ou estado de algo como por exemplo ver se o a tag possui a classe informada para depois alterala, um if else basicamente*/

            &:has(.text-lg) {/* procura saber se a classe que esta imposta no parenteses existe e se existir aplica essa alteração para a classe em especifico*/
                padding: 12px;
            }

            h2 {
                margin-top: 8px;
            }
        }
    }

}